*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
/*    background: #091921;*/
}
.back{
    position: absolute;
    width: 100%;
    height: 755px;
}

.calculator{
    position: relative;
    display: grid;
}
.casio{
    background-color: darkslateblue;
    color: white;
}
.numb{
    border-radius: 20px;
}


#calc{
    border: 20px solid darkslateblue;
    border-radius: 25px;
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 30px;
}

.calculator span{
    display: grid;
    width: 100px;
    height: 60px;
    color: whitesmoke;
    background-color: midnightblue;
    place-items: center;
    border: 1px solid darkslateblue;
/*    border: 1px solid black;*/
/*    border: 1px solid black;*/
}

.calculator span:active{
    background-color: aqua;
    color: black;
}

.calculator span.clear{
    grid-column: span 2;
    width: 200px;
    background-color: red;
}

.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
    background-color: limegreen;
}